.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 1rem;
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    color: #fff;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    cursor: pointer;
}