.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 1rem;
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    color: #000000;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    cursor: pointer;
    z-index: 100;
}

.scroll-to-top:hover {
    background-color: #cd3e40;
    color: #fff;
}

@media (max-width: 768px) {
    .scroll-to-top {
        display: none;
    }
}