.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 450px;
    background-color: #fea91f;
    padding: 10px;
    border-radius: 16px;
    border: 3px solid #fff;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    color: #fff;
    border-radius: 16px;
}

.card-container:hover .overlay {
    height: 100%;
    padding: 15px;
}

.overlay .overlay__name {
    width: 100%;
    margin-top: 10%;
    font-size: 35px;
    text-align: center; 
}

.overlay .overlay__desc {
    width: 100%;
    margin-top: 5%;
    font-size: 16px;
    text-align: justify;
}

.card-container .image-container {
    border-radius: 16px;
    border: 4px solid rgb(0, 46, 93);
}

.card-container .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card-container .lec-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    color: #000000;
}

.lec-info .lec-name {
    font-weight: 500;
    font-size: 22px;
}

.lec-info .lec-about {
    font-size: 16px;
}