@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #f1ac3b;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 9s linear infinite;
}




.background li:nth-child(0) {
    left: 64%;
    width: 171px;
    height: 171px;
    bottom: -171px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 81%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 24%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 28%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 1s;
}
.background li:nth-child(4) {
    left: 39%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 12s;
}
.background li:nth-child(5) {
    left: 17%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 3s;
}
.background li:nth-child(6) {
    left: 47%;
    width: 150px;
    height: 150px;
    bottom: -150px;
    animation-delay: 19s;
}
.background li:nth-child(7) {
    left: 77%;
    width: 114px;
    height: 114px;
    bottom: -114px;
    animation-delay: 4s;
}
.background li:nth-child(8) {
    left: 82%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 40s;
}
.background li:nth-child(9) {
    left: 32%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 42s;
}