.mobile-swiper {
    width: 450px;
    height: 330px;
    margin-bottom: 48px;
}

@media (max-width:570px){
    .mobile-swiper {
        width: 300px;
        height: 210px;
       
    }
}

@media (max-width:417px){
    .mobile-swiper {
        width: 250px;
        height: 190px;
    }
}