#questions {
    min-height: 700px;
    background-color: #f1ac3b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
}

.questions-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
}

.questions-info .questions-title {
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    border-bottom: 2px solid #fff;
    font-size: 32px;
}


@media (max-width: 768px) {
    #questions {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    #questions {
        padding: 5px;
    }
}