@import './moving.styles.css';

#home {
    min-height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.home-1-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-1-container .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
    background: #f1ac3b;
    pointer-events: none;
}

.main-logo {
    width: 600px;
    height: 290px;
}


.home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 46, 93, 0.9);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
    margin-top: 0.75rem;
}

.home-info span {
    font-size: 20px;
    width: 82%;
    text-align: center;
}

.svg-conf {
    width: 100px;
    height: 100px;
}

.swiper-container {
    margin: 3rem 0;
    user-select: none;
    width: 100%;
    height: 360px;
}

@media (max-width: 1560px) {
    .swiper-container {
        height: 460px;
    }
}

@media (max-width: 1560px) {
    .swiper-container {
        height: 360px;
    }
}


@media (max-width:975px) {
    .swiper-container {
        width: 80%;
    }

}

@media (max-width:822px) {
    #home {
        padding-top: 80px;
    }
}

@media (max-width: 802px) {
    .home-info {
        width: 680px;
    }
}

@media (max-width: 700px) {
    .home-info {
        font-size: 16px;
        margin: 25px;
        width: 500px;
        padding: 10px 0px;
    }

    .home-info img {
        width: 420px;
        height: 260px;
    }
}

@media (max-width: 627px) {
    .swiper-container {
        height: 420px;
    }
}

@media (max-width: 580px) {

    .home-info img {
        width: 360px;
        height: 210px;
    }
}

@media (max-width: 510px) {
    .swiper-container {
        height: 400px;
        width: 100%;
    }

    .home-info {
        font-size: 16px;
        margin: 25px;
        width: 400px;
        height: 300px;
        padding: 10px 0px;
    }


    .home-info span {
        font-size: 20px;
        width: 95%;
    }

}

@media (max-width: 415px) {
    .home-info {
        width: 320px;
        height: 280px;
    }


    .home-info span {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .swiper-container {
        height: 480px;
    }
}