.comment-container {
    padding: 5%;
    width: 100%;
    height: 100%;
    position: relative;
}

.comment-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}


.comment-content .content-info {
    max-width: 100%;
    font-size: 17px;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 25px;
}

.comment-content .content-name p{
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: 13px;
}