.home-3-container {
    min-height: 900px;
    width: 100%;
    background-image: url("/new-photos/Swiper-Images/Tot_academy_combined.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-size: 100% 100%; */
}

.home-3-blured {
    background-color: rgb(0, 46, 93, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.home-3-z-section {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 9rem;
    margin: 6rem 0px;
}

.home-3-z-section .home-3-info {
    padding: 16px 130px;
    background-color: #fff;
    color: rgb(0, 46, 93);
    font-size: 32px;
    text-align: center;
    width: 1090px;
    font-weight: 650;
    border-radius: 16px;
    /* margin-top: 7rem; */
}

.home-3-button a {
    display: inline-block;
    padding: 20px 40px;
    font-size: 23px;
    color: rgb(0, 46, 93);
    background-color: #f1ac3b;
    border: none;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: 800;
}


.home-3-button a:hover {
    background-color: rgb(208, 138, 25);
}

.home-3-success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    flex-wrap: wrap;
    margin: 0 25px;
}

.home-3-success-container .home-3-success-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    line-height: 5rem;
    font-weight: 600;
    width: 300px;
}

.home-3-success-container .home-3-success-element span:first-child {
    font-size: 90px;
    transition: opacity 0.5s ease-in-out;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-3-success-container .home-3-success-element span:last-child {
    text-align: center;
    width: 100%;
}

@media (max-width: 1615px) {
    .home-3-success-container {
        gap: 10rem;
    }
}

@media (max-width: 1450px) {
    .home-3-success-container {
        gap: 6rem;
    }
}

@media (max-width: 1150px) {
    .home-3-z-section .home-3-info {
        padding: 35px 40px;
        width: 790px;
    }

    .home-3-success-container .home-3-success-element span:first-child {
        font-size: 70px;
    }

    .home-3-success-container {
        gap: 3rem;
    }
}

@media (max-width: 1150px) {
    .home-3-success-container {
        gap: 1rem;
    }
}

@media (max-width: 980px) {
    .home-3-success-container {
        gap: 6rem;
    }
}

@media (max-width: 830px) {
    .home-3-z-section .home-3-info {
        padding: 25px 30px;
        width: 590px;
    }
}

@media (max-width: 620px) {
    .home-3-z-section .home-3-info {
        padding: 25px 15px;
        width: 420px;
        font-size: 30px;
    }

    .home-3-success-container {
        gap: 6rem;
    }
}

@media (max-width: 450px) {
    .home-3-z-section .home-3-info {
        padding: 25px 12px;
        width: 310px;
        font-size: 24px;
    }

    .home-3-button a {
        padding: 20px 40px;
        font-size: 20px;
    }
    
    .home-3-success-container {
        gap: 6rem;
    }
    
    .home-3-success-container .home-3-success-element {
        font-size: 20px;
        line-height: normal;
    }

    .home-3-success-container .home-3-success-element span:first-child {
        font-size: 60px;
        height: 70px;
    }

    .home-3-success-container .home-3-success-element span:last-child {
        margin-top: 10px;
    }
}

@media (max-width: 330px) {
    .home-3-z-section .home-3-info {
        width: 290px;
    }

    .home-3-button a {
        padding: 20px 30px;
    }

}