.accordion {
    width: 70%;
    border-radius: 20px;
    --bs-accordion-color: #000000;
    --bs-accordion-bg: #fff;
    --bs-accordion-btn-focus-box-shadow: none;
    /* --bs-accordion-transition: ; */
    /* /* --bs-accordion-border-color: white; */
    --bs-accordion-border-width: 1px;
    /* --bs-accordion-border-radius: ; */
    --bs-accordion-btn-padding-x: 20px;
    --bs-accordion-btn-padding-y: 20px;
    --bs-accordion-btn-color: #fff;
    --bs-accordion-btn-bg: rgba(0, 46, 93, 0.9);
    /* --bs-accordion-btn-icon: ; */
    --bs-accordion-btn-icon-width: 20px;
    /* --bs-accordion-btn-icon-transform: ;
    --bs-accordion-btn-icon-transition: ; */
    --bs-accordion-btn-active-icon: rgb(255, 255, 255);
    --bs-accordion-body-padding-x: 20px;
    --bs-accordion-body-padding-y: 20px;
    --bs-accordion-active-color: #fff;
    --bs-accordion-active-bg: rgba(3, 21, 40, 0.9);
    margin-bottom: 20px;
}

/* 
 .accordion-item {
    border-radius: 20px;
    margin-bottom: 7px;
}

.accordion-button {
    border-radius: 20px;
}

.accordion-body {
    border-radius: 20px;
}  */

/* 
  --bs-accordion-btn-bg: #c90101;
    --bs-accordion-active-bg: rgb(74, 93, 84);
    --bs-accordion-active-color: #1aff00;
    --bs-accordion-bg: mintcream;
    --bs-accordion-color: #363b28;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-focus-border-color: unset;
*/