.accordion {
    overflow: hidden;
    background-color: #0f2c54;
    padding: 30px;
    border-radius: 16px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.accordion__item {
    margin-bottom: 10px;
}

.accordion__label,
.accordion__content {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.accordion__label {
    background-color: #1b3961;
    height: 112px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    transition: background 0.1s;
    padding: 0;
    box-sizing: border-box;
}

.faq-number {
    width: 5%;
    color: #fff;
    height: 100%;
    background-color: #324b6e;
}

.faq-question {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: #fff;
    font-size: 25px;
    font-family: Montserrat, sans-serif;
}

.accordion__item:hover .faq-number {
    background-color: #cd3e40;
}

.accordion__content {
    background: transparent;
    line-height: 1.6;
    font-size: 18px;
    display: none;
    padding: 20px;
    color: #fff;
    text-align: left;
    font-family: montserrat, sans-serif;
    box-sizing: border-box;
}

.accordion__input:checked~.accordion__content {
    display: block;
    width: 100%;
    padding: 20px;
}

.accordion__input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .accordion__label {
        height: 100px;
    }

    .faq-question {
        padding: 15px;
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    .accordion__label {
        height: 90px;
    }

    .faq-question {
        padding: 10px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {

    .faq-question {
        padding: 15px;
        font-size: 18px;
    }
}

@media (max-width: 576px) {

    .faq-question {
        padding: 10px;
        font-size: 16px;
    }
}